body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.light-mode {
    background-color: darkblue;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}
